.feedback-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.feedback-details {
    width: 80%;
}

.feedback-vote {
    width: 10%;
}

.feature-name {
    font-weight: 400;
}

.feature-requester {
    color: #575656;
    font-weight: 300;
}

.divider {
    color: #575656;
}